.container__listaDeImagens{
	max-width: 80vw;
	margin: 0 auto;

}
.lista{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.titulo__listaDeImagens{
	font-family: Sansation;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;

	display: flex;
    flex-direction: column;
    align-items: baseline;
	justify-content: baseline;

}

.Btn{
	background: #008080;
}
