.footer{
	height: 15vh;
	background-color: #008080;
	margin-top: 15px;
	border-top: solid 5px #008000;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;	
}

.link__footer{
	color: #fff;
	text-decoration: unset;
}
